# Functions
* Defining Functions
* Variable Scope
* Documentation
* Lambda Expressions
* Iterators and Generators

###1. Defining Function

* def func_name(arg1, arg2,..,argn):
* body of a function with an indendtation 
* return
* arg can be defined with default values
* function call supports with the argument name and assigned values.

###2. Variable Scope
* Define scope of a variable e.g. local to function or global variables
* local variables scope is limited to the function
* Global variables defined outside the function and can be read in the function body.
* Python does not allow direct modify operation on the global variables. So global variables can be accessed by passing as an argument to the function.

###3. Documentation
* Documentation string or docstring are a type of comment used to explain the purpose of a function.
* it starts and ends with 3 quotes """ <Comment> """

###4. Lambda Expression
* For creating quick short function/expression without a name.
* The "lambda" keyword to create a functions.
* Following lambda are one or more arguments for the anonymous function separated by commas, followed by a colon :. Similar to functions, the way the arguments are named in a lambda expression is arbitrary.
* Last is an expression that is evaluated and returned in this function. This is a lot like an expression you might see as a return statement in a function.

# Examples

##1. Defining Functions

###1.1 defining function

In [2]:
def cylinder_volume(height, radius):
  pi = 3.14159
  return pi * height * radius**2

volume  = cylinder_volume(10,3)

print(volume)

282.7431

###1.2 argument with default values

In [4]:
def cylinder_volume(height, radius = 3):
  pi = 3.14159
  volume = pi * height * radius ** 2
  return volume

print("Cylinder volume is :{}".format(cylinder_volume(10)))

Cylinder volume is :282.7431

In [5]:
print("Cylinder volume changed to : {}".format(cylinder_volume(10,5)))

Cylinder volume changed to : 785.3975

In [9]:
print("Cylinder volume is {}".format(cylinder_volume(height = 10, radius = 3)))

Cylinder volume is 282.7431

#2 Variable Scope

In [12]:
count = 0
def count_func():
  print(count)

count_func()

0

In [16]:
var_count = 0

def count_modify(count):
  return count + 20

print("New count {}".format(count_modify(var_count)))

New count 20

##3. Documentation

In [1]:
def readable_timedelta(days):
    """ The purpose of the function is to provide number of weeks and days based on the days input
    Input:
    days
    Output:
    weeks, days left
    """

    weeks = days // 7
    remainder = days % 7
    return "{} week(s) and {} day(s)".format(weeks, remainder)

##4. Lambda Function

In [2]:
multiply = lambda x,y : x * y

print(multiply(2,3))

6